src/*.exe
src/DigitalNote
src/DigitalNoted
src/test_DigitalNote
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.gch
.DigitalNote
#compilation and Qt preprocessor part
.qmake.stash
Makefile
DigitalNote-qt
DigitalNote-Qt.dmg
DigitalNote-Qt.app
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

DigitalNote_resource.rc
Makefile.Debug
Makefile.Release
object_script.DigitalNote.Debug
object_script.DigitalNote.Release
release
DigitalNote

!src/leveldb/Makefile