src/*.exe
src/DigitalNote
src/DigitalNoted
src/test_DigitalNote
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.gch
.DigitalNote
#compilation and Qt preprocessor part
.qmake.stash

DigitalNote
DigitalNote-qt
DigitalNote-Qt.dmg
DigitalNote-Qt.app
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
Makefile
Makefile.*
build
release
!src/leveldb/Makefile