## Ignore directories
build
release

## Ignore files
src/*.exe
src/DigitalNote
src/DigitalNoted
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.gch
*.exe
.DigitalNote
DigitalNoted
DigitalNote-qt
DigitalNote-Qt.dmg
DigitalNote-Qt.app
*.pro.user
.DS_Store
Makefile
Makefile.*
.qmake.stash

## leveldb lib
!src/leveldb/Makefile
src/leveldb-2.11/build
qdbusxml2cpp_wrapper.bat
uic_wrapper.bat
digitalnote-qt_plugin_import.cpp